html {
  min-width: 250px;
  background-color: #eeeeee;
}

body {
  margin: 0;
}

main {
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure, code {
  margin: 1rem;
  font-size: 1rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  margin-bottom: 1rem;
  height: 12rem;
}

code {
  white-space: pre-wrap;
}

.key {
  color: #ff7a00;
}

.value {
  color: #009400;
}

code > a {
  color: #d9230f;
}

code > a[href^="mailto:"] {
  color: #0000af;
}

footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .85rem;
  margin: 1rem;
  opacity: .25;
}

/* Once the screen width becomes small enough to be a square, make the main content column based. */
@media (max-aspect-ratio: 1/1) {
  main {
    flex-direction: column;
  }
}