doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Luke Coy's somewhat-professional website")
    meta(name="keywords" content="HTML, CSS, JavaScript")
    meta(name="author" content="Luke Coy")
    title Luke Coy
    
    script(class="coyJsonLd" type="application/ld+json" src="./linkedData.json")
  
  body
    | Hello World
