doctype html
html(lang="en-US")
  meta(charset="utf-8")
  meta(name="description" content="Luke Coy's somewhat-professional website")
  meta(name="keywords" content="HTML, CSS, JavaScript")
  meta(name="author" content="Luke Coy")
  link(rel="stylesheet" type="text/css" href="style.css")
  title Luke Coy
  
  figure.flex-container
    include ./luke.svg
    figcaption
      include ./lukeLd.jade

  footer
     | Learn more about 
     a(href="https://developers.google.com/schemas/formats/json-ld") JSON-LD
     |  and  
     a(href="https://developers.google.com/schemas/formats/microdata") Microdata
