ol(class="about json" itemscope itemtype="http://schema.org/Person")
  li.attribute
    span.key @context
    span.value.str http://schema.org
    
  li.attribute
    span.key @type
    span.value.str Person
    
  li.attribute
    span.key name
    span(class="value str" itemprop="name") Luke Coy
    
  li.attribute
    span.key jobTitle
    span(class="value str" itemprop="jobTitle") Software Engineer
    
  li.attribute
    span.key email
    span(class="value str" itemprop="email") luke.coy@rit.edu
    
  li.attribute
    span.key sameAs
    ol.array.value
      li
        span(class="str" itemprop="sameAs") github.com/lukecoy
      li
        span(class="str" itemprop="sameAs") linkedin.com/in/lukecoy
      
  li.attribute 
    span.key description
    span(class="value str" itemprop="description") blah blah blah
