ol(class="about json" itemscope itemtype="http://schema.org/Person")
  li.attribute
    span.key @context
    a(href="http://schema.org" class="value") http://schema.org
    
  li.attribute
    span.key @type
    span.value.str Person
    
  li.attribute
    span.key name
    span(class="value str" itemprop="name") Luke Coy
    
  li.attribute
    span.key jobTitle
    span(class="value str" itemprop="jobTitle") Software Engineer
    
  li.attribute
    span.key email
    span(class="value email" itemprop="email") luke.coy@rit.edu
    
  li.attribute
    span.key sameAs
    ol.array.value
      li
        a(href="http://github.com/lukecoy" class="" itemprop="sameAs") http://github.com/lukecoy
      li
        a(href="http://linkedin.com/in/lukecoy" class="" itemprop="sameAs") http://linkedin.com/in/lukecoy
      
  li.attribute 
    span.key description
    span(class="value str" itemprop="description") Likes spaghetti, spotify, and SVGs
