html, body, figure {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
}

ol {
  list-style-type: none;
  -webkit-padding-start: 0px;
  display:inline;
}

li {
  padding-left: 30px;
}

:link, :visited {
  text-decoration: none;
  color: #d9230f;
}

figure > * {
  padding-left: 10px;
  padding-right: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;

  svg {
    max-width: 350px;
    min-width: 250px;
    border-radius: 10px;
  }

  ol.json::before {
    content: "{";
  }

  ol.json::after {
    content: "}";
  }

  ol.json {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 20px;
    font-size: 18px;

    li:not(:last-child):after {
      content: ","
    }
    li.attribute {
      .key {
        color: rgb(255, 122, 0);
      }
      .str {
        color: rgb(0, 148, 0);
      }
      .email {
        color: rgb(0, 0, 175);
      }
      .key::before,
      .str::before,
      a::before,
      .email::before {
        content: '"';
        color: initial;
      }
      .str::after,
      a::after,
      .email::after {
        content: '"';
        color: initial;
      }
      .key::after {
        content: '": ';
        color: initial;
      }
      ol.array::before {
        content: "[";
      }
      ol.array::after {
        content: "]";
      }
    }
  }

}

footer {
  color: #D3D3D3;
  text-align: center;
  margin-top: -20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  :link, :visited {
      color: #03a9f4;
      outline: 0;
      text-decoration: none;
  }
}
