@import "mixins/_links";

footer {
  font-size: .9em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  color: #D3D3D3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  a {
    @include links(#b8e2fc, #03a9f4)
  }
}
