@import "_lukeLinkedData.scss";

$link-color: #d9230f;

html, body, figure {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #eeeeee;
}

figcaption {
  padding: 20px 20px 20px 20px;
}

:link, :visited {
  text-decoration: none;
  color: $link-color;

  transition:color .2s ease-out, background 2s ease-in;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
}

:link:hover, :visited:hover {
  color: #03a9f4;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;;
  flex-wrap: wrap;

  svg {
    width: 275px;
    height: 275px;
    min-width: 275px;
  }
}

footer {
  color: #D3D3D3;
  text-align: center;
  margin-top: -20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  :link, :visited {
      color: #87CEFA;
      outline: 0;
      text-decoration: none;
  }
}
