@import "_mainSection";
@import "_lukeLinkedData";
@import "_footer";

$site-background-color: #eeeeee;

html {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;
  // TODO media query these
  min-height: 555px;
  min-width: 290px;
  //
  background-color: $site-background-color;
}

figure {
  width: 250px;
}

@media (max-width: 760px) and (max-height: 630px), (max-width: 330px) {
  html {
    font-size: .9em;
  }

  .flex-container {
    align-content: stretch;
  }

}
